[submodule "src/cf-containers-broker"]
	path = src/cf-containers-broker
	url = https://github.com/cf-platform-eng/cf-containers-broker.git
[submodule "src/github.com/docker/swarm"]
	path = src/github.com/docker/swarm
	url = https://github.com/docker/swarm.git
[submodule "src/github.com/cloudfoundry-incubator/route-registrar"]
	path = src/github.com/cloudfoundry-incubator/route-registrar
	url = https://github.com/cloudfoundry-incubator/route-registrar.git
